.adress {
  width: calc(333 * 100% / 993);

  @media (max-width: $tablet-width) {
    width: 345px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    padding: 0 15px;
    border-bottom: 1px solid rgba(#626962, 0.2);
  }
}

.adress__wrapper {
  padding-bottom: 24px;

  @media (max-width: $mobile-width) {
    @include flex(row, center);
    justify-content: space-between;
    padding: 27px 0;
  }
}

.adress__wrapper > h3 {
  @include font(15, 18);
  font-family: $roboto-condensed;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.adress__wrapper > button {
  position: relative;
  display: none;
  width: 17px;
  height: 17px;
  background-color: transparent;
  border: none;

  @media (max-width: $mobile-width) {
    display: block;
  }
}

.adress__list {
  font-style: normal;

  @media (max-width: $mobile-width) {
    width: 70%;
    max-height: 0;
    transition: max-height 0.5s;
    overflow: hidden;
  }
}

.adress__description {
  @include font(15, 25);
  color: rgba($footer-color, 0.5);

  @media (max-width: $mobile-width) {
    &:first-of-type {
      margin-top: 3px;
    }

    &:last-of-type {
      margin-bottom: 27px;
    }
  }
}

// no-js
.adress .no-js {
  @media (max-width: $mobile-width) {
    max-height: unset;
  }
}
