.header-nav {
  min-height: inherit;
  padding-left: 17px;
  padding-right: 20px;
  color: $white;

  @media (max-width: $tablet-width) {
    padding-left: 27px;
    padding-right: 24px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 10px;
    padding-right: 15px;
  }
}

.header-nav .site-wrapper {
  @include flex(row, center);
  min-height: inherit;

  // for IE
  /* stylelint-disable */
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    padding-top: 33px;
  }

  @media (max-width: $tablet-width) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    padding-top: 20px;
  }

  @media (max-width: $mobile-width) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    padding-top: 0;
  }
  /* stylelint-enable */
}

.header-nav__logo-wrapper {
  @media (max-width: $mobile-width) {
    width: 52px;
    padding-top: 5px;
  }
}

.header-nav__logo-wrapper > a {
  width: 202px;
  margin-right: 14px;

  @media (max-width: $mobile-width) {
    width: 52px;
  }
}

.header-nav__logo-wrapper svg {
  width: 202px;
  height: 52px;

  @media (max-width: $mobile-width) {
    width: 52px;
    height: 52px;
    transform: scale(0.73);
  }
}

.header-nav__logo-wrapper .mobile-logo {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.header-nav button {
  position: relative;
  width: 37px;
  height: 13px;
  background-color: transparent;
  border: none;

  &::before,
  &::after {
    @include pseudo;
    width: 37px;
    height: 1px;
    background-color: $white;
  }

  &::before {
    top: 0;
    left: 0;
  }

  &::after {
    bottom: 0;
    left: 0;
  }

  @media (max-width: $tablet-width) {
    margin-right: 37px;
    margin-bottom: 10px;
  }

  @media (max-width: $mobile-width) {
    margin-right: 27px;
    margin-bottom: 5px;
  }
}

.header-nav__wrapper {
  @include flex(row, flex-start);
  align-items: center;
  width: calc(1091 * 100% / 1410);
  margin-left: auto;

  @media (max-width: $tablet-width) {
    justify-content: flex-end;
    width: calc(385 * 100% / 750);
  }

  @media (max-width: $mobile-width) {
    justify-content: flex-end;
    width: calc(220 * 100% / 320);
  }
}

.header-nav__list {
  @include flex(row, flex-start);
  flex-wrap: wrap;
  min-width: 431px;
  margin-right: calc(30 * 100% / 660);
  margin-left: auto;
  padding-top: 20px;

  @media (max-width: $tablet-width) {
    align-items: center;
    min-width: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
  }
}

.header-nav__item {
  margin-right: calc(85 * 100% / 431);
  margin-bottom: 20px;

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: $tablet-width) {
    margin-right: 33px;
    margin-bottom: 10px;
  }

  @media (max-width: $mobile-width) {
    margin-right: 24px;
    margin-bottom: 4px;
  }
}

.header-nav__item p {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.header-nav__item > a {
  @include font($font-size-desk, 18);
  @include link;
  @include flex;
  align-items: center;
}

.header-nav__item:nth-child(1) > a > svg,
.header-nav__item:nth-child(2) > a > svg {
  margin-right: 20px;

  @media (max-width: $tablet-width) {
    margin-right: 0;
  }
}

.header-nav__item:nth-child(1) > a > svg {
  width: 19px;
  height: 14px;

  @media (max-width: $tablet-width) {
    width: 25px;
    height: 18px;
  }
}

.header-nav__item:nth-child(2) > a > svg {
  width: 18px;
  height: 18px;

  @media (max-width: $tablet-width) {
    width: 24px;
    height: 24px;
  }
}

.header-nav__wrapper > a {
  @include font(14, 16, $bold);
  @include link;
  @include flex(row, center);
  position: relative;
  justify-content: center;
  width: 180px;
  min-height: 45px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: $roboto-condensed;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid $white;
  border-radius: 5px;
  letter-spacing: 0.05em;

  // for IE
  /* stylelint-disable */
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    padding-top: 14px;
  }
  /* stylelint-enable */

  @media (max-width: $tablet-width) {
    display: none;
  }
}
