// font-family
$ptmono: "PT Mono", "Courier New", monospace;
$roboto-condensed: "Roboto Condensed", "Arial", sans-serif;
// font-weight
$regular: 400;
$bold: 700;
// font-size && line-height
// desktop
$font-size-desk: 16;
$line-height-desk: 22;
// color
$feature-color: #666666;
$footer-color: #1b2d37;
// bg
$introduction-bg: #1b2d37;
$feature-bg: #00b2ff;
// @media
$tablet-width: 1023px;
$mobile-width: 767px;

$white: white;
$black: black;
