// font-family
$ptmono: "PT Mono", "Courier New", monospace;
$roboto-condensed: "Roboto Condensed", "Arial", sans-serif;
// font-weight
$regular: 400;
$bold: 700;
// font-size && line-height
// mobile
// $font-size-desktop: 14;
// $line-height-desktop: 25;
// tablet
// $font-size-desktop: 14;
// $line-height-desktop: 25;
// desktop
$font-size-desk: 16;
$line-height-desk: 22;
// color
$feature-color: #666666;
$footer-color: #1b2d37;
// bg
$bg-primary: #2d2d38;
// @media
$tablet-width: 1023px;
$mobile-width: 767px;


$white: white;
$black: black;
